
  <form id="regform" [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required">
      <label>userName</label>
      <input class="form-control" formControlName="userName">
      <label class="text-danger" *ngIf="form.get('userName').touched && form.get('userName').errors?.required">This field is mandatory.</label>
    </div>
    <div class="form-group">
      <label>email</label>
      <input class="form-control" formControlName="email">
      <label class="text-danger" *ngIf="form.get('email').touched && form.get('email').errors?.email">Invalid email address.</label>
    </div>
    <div class="form-group">
      <label>Full name</label>
      <input class="form-control" formControlName="fullName">
    </div>
    <div formGroupName="passwords">
      <div class="form-group required">
        <label>password</label>
        <input type="password" class="form-control" formControlName="password">
        <label class="text-danger" *ngIf="form.get('passwords.password').touched && form.get('passwords.password').errors?.required">This field is mandatory.</label>
        <label class="text-danger" *ngIf="form.get('passwords.password').touched && form.get('passwords.password').errors?.minlength">Minimum 6 characters required.</label>
      </div>
      <div class="form-group required">
        <label>Confirm password</label>
        <input type="password" class="form-control" formControlName="confirmPassword">
        <label class="text-danger" *ngIf="form.get('passwords.confirmPassword').touched && form.get('passwords.confirmPassword').errors?.required">This field is mandatory.</label>
        <label class="text-danger" *ngIf="form.get('passwords.confirmPassword').touched && form.get('passwords.confirmPassword').errors?.passwordMismatch">Confirm password does not match.</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-lg btn-block" [disabled]="!form.valid">Sign Up</button>
      </div>
    </div>
  </form>
