<h2 mat-dialog-title>Income and Outcome</h2>
<mat-dialog-content>
    <form class="row">
        <div class="col-5">
            <label class="col-12" for="select">Choise operation</label>
            <select name="select" class="col-12">
                <option>Income</option>
                <option>Outcome</option>
            </select>
        </div>
            <div class="col-6 offset-1">
                <label class="col-12" name="name" for="input">{{item.name}}</label>
                <input class="col-12" name="input" placeholder="number" [(ngModel)]="value">
            </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="row">
    <button mat-button mat-dialog-close mat-raised-button type="button" class="btn btn-primary col-4 offset-1">Close</button>
    <button mat-button mat-raised-button type="button" class="btn btn-primary col-4" id="btn-save" (click)="submit()">Save</button>
</mat-dialog-actions>

