#btn-save{
  padding-top: 9px;
  line-height: 20px;
  display: block;
  margin: 20px auto;
}

h2 {
  text-align: center;
}

form {
  margin: 0 5% 0 5%;
}

select {
  height: 40px;
  width: 100%;
}

[name="name"] {
  border-bottom: 2px solid #00000080;
  margin-top: 10px;
}

input {
  border: 0;
  border-left: 2px solid #000000aa;
  background-color: #00000010;
  font-size: 24px;
  padding: 5px;
  padding-left: 15%;
}