<h2 mat-dialog-title>Income and Outcome</h2>
<mat-dialog-content>
    <div class="row">
        
        <form class="">   
            <select>
                <option>Income</option>
                <option>Outcome</option>
            </select>
        </form>
        <label class="">Product</label>
        <input class="" placeholder="number" value="0">
       
    </div>
</mat-dialog-content>
<div class="button-row">
<mat-dialog-actions>
    <button mat-buttton mat-dialog-close mat-raised-button type="button" class="btn btn-primary">Close</button>
    <button mat-button mat-dialog-close mat-raised-button type="button" class="btn btn-primary" id="btn-save">Save</button>
</mat-dialog-actions>
</div>

<!--   -->

