<div class="body">
    <app-header></app-header>
    <div class="statistics-container">
        <app-product-statistic [currentProduct]="currentItem"></app-product-statistic>
    </div>
    <div class="row">
        <div class="col-md-10 offset-2 col-xs-12 add-container">
            <app-add-product-form (addNewProduct)="addProductItem($event)"></app-add-product-form>
        </div>
        <div class="col-md-10 offset-2 table-container">
            <app-table [items]="products" [totalPages]="tableTotalPages" [pageSize]="tablePageSize" 
            [sortOrder]="tableSortOrder" [pageNumber]="tablePageNumber" (initProductsEmitter)="initProductsDecorator($event)" 
            (changeCurrentItemTableEmitter)="changeCurrentItem($event)" (removeItemEmitter)="removeProductItem($event)" 
            (updateItemEmitter)="updateProductItem($event)" (addAccountingItemEmitter)="addItemAcounting($event)"></app-table>
        </div>
    </div>
</div>