.body {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background-color: #f3f3f3;
}

.headertext {
    font-size: 24px;
}

ul>li {
    display: inline;
    border-left: 2px solid #ffffffd0;
    padding: 0 10px;
    color: #ffffffd0;
}

ul {
    margin: 0;
}

.navbar {
    box-sizing: border-box;
    padding-right: 20px;
    background-color: #4b4852;
}

.table-container,
.add-container {
    padding: 0 5% 0 2.5%;
}

.statistics-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 14%;
    min-width: 160px;
}