.body {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background-color: #f3f3f3;
}

.table-container,
.add-container {
    padding: 0 5% 0 2.5%;
}

.statistics-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 14%;
    min-width: 160px;
}