<div class="body">
    <app-header></app-header>
    <div class="statistics-container">
        <app-productStatistics [item]="currentItem"></app-productStatistics>
    </div>
    <div class="row">
        <div class="col-md-10 offset-2 col-xs-12 add-container">
            <app-addForm (eventEmitter)="initProducts()"></app-addForm>
        </div>
        <div class="col-md-10 offset-2 table-container">
            <app-table [items]="products" (changeCurrentItemTable)="changeCurrentItem($event)" (removeItemEmitter)="remove($event)"></app-table>
        </div>
    </div>
</div>