.navbar {
    background-color: #7050a0;
}

table {
    background-color: #f5f5f6;
    margin-top: 20px;
    width: 95%;
    margin-left: 2.5%;
    border: 0px solid black;
    border-top-width: 4px;
    border-right-width: 2px;
}

td {
    border: 0px solid black;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgba(100,100,100,0.3);
    padding: 5px;
}

.tr-product {
    padding-left: 5%;
    background-color: rgba(100,100,100,0.1);
}
