h2 {
    transition: color 0.5s, border-color 0.5s;
}
.auth-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at top left, #492c32,#444458);
    margin: 0;
  }

  @keyframes showing {
    from {
        opacity: 0.6;
        transform: scaleX(-1);
    }
    to {
        opacity: 1;
        
        transform: scaleX(1);
    }
}

  @keyframes shadowAnim {
    from {
      box-shadow: 0 0px 10px 0 rgba(0,0,0,0.8);
      -webkit-box-shadow: 0 0px 10px 0 rgba(0,0,0,0.8);
      transform: scale(0.98);
    }
    to {
      box-shadow: 0 30px 60px 0 rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.6);
      transform: scale(1);
    }
  }

  .auth-wrapper > .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px;
    background: #2e3137;
    width: 100%;
    padding: 0 20px;
    margin-top: 5vh;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 500px;
    position: relative;
    animation: shadowAnim 2s forwards;
  }

  button[type=submit].btn,
  .btn,
  button {
      background-color: var(--interactiveColor);
      color: #fff;
      border: 0;
  }
  
  button:focus {
      outline: 0
  }
  
  @media (max-width: 576px) {
    .auth-wrapper > .wrapped-div {
      height: 100vh;
      margin: 0;
    }
  }