nav {
    color: white;
    /* box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.2); */
    background-color: #969696;
    padding-top: 10px;
    height: 64px;
}

nav:first-of-type {
    margin-top: -50px;
}


nav>#hole-container {
    margin-top: -60px;
    margin-bottom: 15px;
}

nav>#hole-container>#hole {
    border-radius: 30px;
    width: 72%;
    margin-left: 14%;
    background-color: #f3f3f3;
    height: 105%;
}

#selectPageSize-group {
    margin-top: 5px;
}

table {
    background-color: #f5f5f6;
    border: 0px solid black;
    border-top-width: 2px;
    border-right-width: 2px;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

td:nth-child(1) {
    width: 50%;
}

td:nth-child(2) {
    width: 40%
}

td:nth-child(3) {
    width: 10%;
    min-width: 42px;
}

td {
    border: 0px solid black;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgba(100, 100, 100, 0.3);
    padding: 5px;
}

.tr:not(:first) {
    padding-left: 5%;
    background-color: rgba(100, 100, 100, 0.1);
}

.tr:not(:first)>div>td>button {
    width: 100%;
    border: 0;
    height: 100%;
    background-color: #90d090;
}

@keyframes hoverAnim {
    from {}
    50% {
        filter: opacity(0.9), brightness(1.03);
        box-shadow: 0 5px 10px rgba(100, 100, 100, 0.5), -10px 0 8px rgba(0, 47, 255, 0.4);
    }
    to {}
}

.trProduct:hover {
    animation: hoverAnim 1s linear infinite reverse;
}

tr:first-child>td {
    padding: 0;
}

tr:first-child>td>button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 0;
    margin: 0;
    background-color: #eee;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

tr:first-child>td:hover {
    filter: brightness(1.025);
}

button>img {
    position: relative;
    top: 6px;
    height: 16px;
    opacity: 0.7;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

tr:first-child {
    font-size: 20px;
    text-align: center;
}


/* action button */

.action-row>td>img {
    height: 24px;
}

.action-row>td>img:hover {
    transition: 0.4s;
}

.action-row>td:nth-child(1)>img:hover {
    filter: drop-shadow(0 5px 5px #0f0) drop-shadow(0 2px 50px #0f0);
}
.action-row>td:nth-child(2)>img:hover {
    filter: drop-shadow(0 5px 5px red) drop-shadow(0 2px 50px red);
}
.action-row>td:nth-child(3)>img:hover {
    filter: drop-shadow(0 5px 5px orange) drop-shadow(0 2px 50px orange);
}

.action-row>td>img:active {
    transform: scale(0.95);
}