<nav class="row">
    <div id="border"></div>
    <div class="col-md-4 col-xs-12" id="selectPageSize-group">
        <label class="offset-1" for="selectPageSize">Count of goods</label>
        <select id="selectPageSize" class="offset-1" [(ngModel)]="pageSize" (change)="pageNumber=1">
            <option *ngFor="let c of [2, 5,10,15,30,50,100]" value="{{c}}">{{c}}</option>
        </select>
    </div>
    <div class="col-md-4" id="hole-container">
        <div id="hole"></div>
    </div>
    <ul class="col-md-4 col-xs-12 pagination" *ngIf="pageSize != null">
        <li class="page-item"><button class="page-link" (click)="prevPage()">Previous</button></li>
        <li class="page-item"><button disabled class="page-link"> {{pageNumber}} of {{pagesCount()}} </button></li>
        <li class="page-item"><button class="page-link" (click)="nextPage()">Next</button></li>
    </ul>
</nav>
<div class="row">
    <h1 *ngIf="items.length == 0"> <br>Data base is empty<br>Please add new product</h1>
    <!--*  ------- TABLE --------------------- -->
    <table class="col-12" *ngIf="items.length > 0">
        <tr>
            <td class="">
                <button (click)="sortName()">
                    <span>NAME</span>
                    <img src="../../../assets/images/sorticon.png" alt="">
                </button>
            </td>
            <td class="">
                <button (click)="sortPrice()">
                    <span>PRICE</span>
                    <img src="../../../assets/images/sorticon.png" alt="">
                </button>
            </td>
            <td class="" colspan="3">
                <span>ACTIONS</span>
            </td>
        </tr>
        <tr class="trProduct" *ngFor="let item of getSegmentOfList(); let id = index">
            <ng-template [ngIf]="product?.productId != item.productId" [ngIfElse]="edit">
                <td (click)="showStatistics(item)">{{item.name}}</td>
                <td (click)="showStatistics(item)">{{item.price}} $</td>

                <div class="action-row">
                    <td> <img src="../../../assets/images/editicon.png" (click)="editProduct(item)" alt="Edit"> </td>
                    <td> <img src="../../../assets/images/removeicon.png" (click)="remove(item); openDialogDPC()" alt="Remove"> </td>
                    <td>
                        <img src="../../../assets/images/inoutcomeicon.png" (click)="openDialogIOC()" alt="Income/Outcome">
                    </td>
                </div>
            </ng-template>
            <ng-template #edit>
                <td> <input type="text" class="" [(ngModel)]="product.name"></td>
                <td> <input type="text" class="" [(ngModel)]="product.price"></td>

                <div class="action-row">
                    <td> <img src="../../../assets/images/saveicon.png" (click)="updateProduct()" alt="Save"> </td>
                    <td> <img src="../../../assets/images/backicon.png" (click)="cancel()" alt="Cancel"> </td>
                    <td> <img src="../../../assets/images/removeicon.png" (click)="remove(item); openDialogDPC()" alt="Remove"> </td>
                </div>
            </ng-template>
        </tr>
    </table>
</div>
<nav *ngIf="(pageSize >= 15 || pageSize == null) && (items.length >= 15)" class="row">
    <div id="border"></div>
    <div class="col-md-4 col-xs-12" id="selectPageSize-group">
        <label class="offset-1" for="selectPageSize">Count of goods</label>
        <select id="selectPageSize" class="offset-1" [(ngModel)]="pageSize" (change)="pageNumber=1">
            <option *ngFor="let c of [2, 5,10,15,30,50,100]" value="{{c}}">{{c}}</option>
        </select>
    </div>
    <ul class="col-md-4 col-xs-12 of offset-1 pagination" *ngIf="pageSize != null">
        <li class="page-item"><button class="page-link" (click)="prevPage()">Previous</button></li>
        <li class="page-item"><button disabled class="page-link"> {{pageNumber}} of {{pagesCount()}} </button></li>
        <li class="page-item"><button class="page-link" (click)="nextPage()">Next</button></li>
    </ul>
</nav>
<br>
<span class="col-1 offset-4">Console: </span>
<input type="text" class="col-2" [(ngModel)]="commandLine" (keyup)="command()">