nav {
    color: white;
    /* box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.2); */
    background-color: #b8b8b8;
    padding-top: 10px;
    height: 64px;
    z-index: 2 !important;
}

nav>.pagination {
    margin-bottom: -2px;
}

nav>#border {
    width: 100%;
    box-sizing: border-box;
    height: 4px;
    position: relative;
    top: 0;
    margin-top: -10px;
    background: #545d6a;
}

nav:first-of-type {
    margin-top: -48px;
}

#selectPageSize-group {
    margin-top: 5px;
}

.page-link {
    background-color: rgb(248, 248, 248);
    border: 1px solid #7e7e7e;
    box-shadow: 0 0 2px #616161;
    font-weight: 500;
    color: #737476;
    box-sizing: border-box;
    margin: 0;
    height: 38px;
    z-index: 1;
}

.page-link > div {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: 2px solid #737476;
    border-top-width: 0;
    border-right-width: 0;
}

.page-item:nth-of-type(3) > .page-link > div {
    transform: rotate(-135deg);
}

.page-link:hover {
    filter: brightness(1.025);
    z-index: 3;
}

.page-item:nth-of-type(2) > .page-link {
    z-index: 2;
}

.page-item:nth-of-type(2) > .page-link:hover {
    filter: none;
}

table {
    background-color: #f5f5f6;
    border: 0px solid black;
    border-top-width: 2px;
    border-right-width: 2px;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* name */
.nameCol {
    width: 84%;
}

tr:nth-of-type(1) > td:nth-of-type(1) button, tr:nth-of-type(1) > td:nth-of-type(2) button {
    box-shadow: inset -2px 0 1px #666d77;
}

/* price */
.priceCol {
    width: 16%;
    text-align: right;
    padding-right: 0.8%;
}

td  {
    padding: 5px;
}

.tr:not(:first) {
    padding-left: 5%;
    background-color: rgba(100, 100, 100, 0.1);
}

.tr:not(:first)>div>td>button {
    width: 100%;
    border: 0;
    height: 100%;
}

.trProduct > td {
    border: 0px solid black;
    border-left-width: 2px;
    border-left-color: rgba(100, 100, 100, 0.5);
}

.trProduct {
    cursor: pointer;
    transition: 0.2s;
    font-size: 24px;
    border: 0px solid black;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgba(100, 100, 100, 0.3);
}

.trProduct:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4), -8px 0px 5px rgba(132, 255, 0, 0.2), 8px 0px 5px rgba(132, 255, 0, 0.2);
}


.trProduct:active {
    filter: brightness(1.02);
    box-shadow: 0 3px 8px rgba(100, 100, 100, 0.5), -10px 0 20px rgba(247, 140, 0, 0.281);
}

.trProduct td input {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
}

tr:first-child td {
    padding: 0;
}

tr:first-child td button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 0;
    margin: 0;
    background-color: #eee;
    color: black;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
}

button span {
    width: 100%;
    text-align: center;
}

tr:first-child td:hover {
    filter: brightness(1.035);
}

button>img {
    position: relative;
    top: 6px;
    height: 16px;
    opacity: 0.7;
}

tr:nth-child(odd) {
    background-color: rgb(233, 233, 233);
}

tr:first-child {
    font-size: 22px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

/* action button */

.action-row td {
    box-shadow:inset -3px 3px 6px rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    text-align: center;
    border-left: 0;
    border-left: 2px solid #6161614d;
}

.action-row td img {
    height: 38px;
    padding: 4px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    margin: -2px;
    margin-top: -4px; 
}

.action-row td img:hover {
    transition: 0.4s;
}

.action-row td:nth-child(1) img:hover {
    filter: drop-shadow(0 5px 5px rgba(0, 255, 0, 0.4));
}

.action-row td:nth-child(2) img:hover {
    filter: drop-shadow(0 5px 5px rgba(255, 0, 0, 0.4));
}

.action-row td:nth-child(3) img:hover {
    filter: drop-shadow(0 5px 5px rgba(255, 166, 0, 0.4));
}

.action-row td img:active {
    transform: scale(0.95);
}

.message {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 3vh;
    padding: 5px;
    display: flex;
    justify-content: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    50% {
        filter: brightness(1.05);
        transform: rotate(180deg) scale(0.8);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    border: 10px dotted #9b9b9b;
    animation: rotate 2.5s  infinite;
    margin-top: 3vh;
}