nav {
    color: white;
    /* box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.2); */
    background-color: #969696;
    padding-top: 10px;
    height: 64px;
}

nav>#border {
    width: 100%;
    height: 4px;
    position: relative;
    top: 0;
    margin-top: -10px;
    background: linear-gradient(to left top, #9800f0, #ff0000);
}

nav:first-of-type {
    margin-top: -48px;
}

nav>#hole-container {
    margin-top: -18px;
    margin-bottom: 10px;
}

nav>#hole-container>#hole {
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 56%;
    margin-left: 22%;
    background-color: #f3f3f3;
    height: 100%;
    border: 3px solid rgb(206, 28, 28);
    border-top-width: 0;
}

#selectPageSize-group {
    margin-top: 5px;
}

table {
    background-color: #f5f5f6;
    border: 0px solid black;
    border-top-width: 2px;
    border-right-width: 2px;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* name */

td:nth-child(1) {
    width: 50%;
}


/* price */

td:nth-child(2) {
    width: 40%
}


/* actions */

td:nth-child(3) {
    width: 8%;
}

td {
    border: 0px solid black;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgba(100, 100, 100, 0.3);
    padding: 5px;
}

.tr:not(:first) {
    padding-left: 5%;
    background-color: rgba(100, 100, 100, 0.1);
}

.tr:not(:first)>div>td>button {
    width: 100%;
    border: 0;
    height: 100%;
    background-color: #90d090;
}

.trProduct {
    transition: 0.2s;
    font-size: 24px;
}

.trProduct:hover {
    filter: brightness(1.03);
    box-shadow: 0 5px 10px rgba(100, 100, 100, 0.5), -8px 0 38px rgba(132, 0, 255, 0.1);
}

.trProduct:active {
    filter: brightness(1.05);
    box-shadow: 0 3px 8px rgba(100, 100, 100, 0.5), -10px 0 20px rgba(247, 0, 103, 0.2);
}

tr:first-child>td {
    padding: 0;
}

tr:first-child>td>button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 0;
    margin: 0;
    background-color: #eee;
    color: black;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
}

tr:first-child>td:hover {
    filter: brightness(1.025);
}

button>img {
    position: relative;
    top: 6px;
    height: 16px;
    opacity: 0.7;
}

tr:nth-child(odd) {
    background-color: rgb(233, 233, 233);
}

tr:first-child {
    font-size: 22px;
    text-align: center;
}


/* action button */

.action-row {
    text-align: center;
}

.action-row>td>img {
    height: 38px;
    padding: 4px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin: -2px;
    margin-top: -4px;
}

.action-row>td {
    box-shadow: 0 2px 10px rgba(57, 11, 196, 0.2);
}

.action-row>td>img:hover {
    transition: 0.4s;
}

.action-row>td:nth-child(1)>img:hover {
    filter: drop-shadow(0 5px 5px rgba(0, 255, 0, 0.4));
}

.action-row>td:nth-child(2)>img:hover {
    filter: drop-shadow(0 5px 5px rgba(255, 0, 0, 0.4));
}

.action-row>td:nth-child(3)>img:hover {
    filter: drop-shadow(0 5px 5px rgba(255, 166, 0, 0.4));
}

.action-row>td>img:active {
    transform: scale(0.95);
}