<h2 class="col-12" mat-dialog-title>Accounting of product</h2>
<mat-dialog-content class="row">
        <strong id="name" class="col-12">{{item.name}}</strong>
        <table class="col-12">
            <tr>
                <td>
                    <span>User</span>
                </td>
                <td>
                    <span>Operation</span>
                </td>
                <td>
                    <span>Value</span>
                </td>
                <td>
                    <span>Date</span>
                </td>
            </tr>
            <tr *ngFor="let t of accountingList">
                <td>{{t.appUserName}}</td>
                <td>{{t.operationType}}</td>
                <td>{{t.amount}}</td>
                <td>{{t.dateTime}}</td>
            </tr>
        </table> 
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-buttton mat-raised-button type="button" (click)="close()" class="btn btn-primary">Close</button>
</mat-dialog-actions>


