<mat-dialog-actions>
    <button mat-buttton mat-raised-button type="button" (click)="close()" class="btn btn-primary col-1 offset-11">Close</button>
</mat-dialog-actions>
<label class="col-12" mat-dialog-title>Accounting of <strong>{{item.name}}</strong></label>
<mat-dialog-content class="row">
        <table *ngIf="accountingList.length > 0; else empty" class="col-12">
            <tr class="table-header">
                <td>
                    <span>User</span>
                </td>
                <td>
                    <span>Operation</span>
                </td>
                <td>
                    <span>Value</span>
                </td>
                <td>
                    <span>Date</span>
                </td>
            </tr>
            <tr *ngFor="let t of accountingList">
                <td>{{t.userName}}</td>
                <td>{{t.operationType? 'Outcome':'Income'}}</td>
                <td>{{t.amount}}</td>
                <td>{{getDate(t.dateTime)}}</td>
            </tr>
        </table> 
        <ng-template #empty class="col-12">
            <span class="error">
                Table is empty
            </span> 
        </ng-template>
</mat-dialog-content>


