<nav>
  <form #form='ngForm' [formGroup]="formAdding" class="row" autocomplete="off" (submit)="addProduct()">
    <div class="form-group col-5">
      <label>Name</label>
      <input class="form-control" [(ngModel)]="form.name" formControlName="name" required>
    </div>
    <div class="form-group col-5">
      <label>Price</label>
      <input class="form-control" [(ngModel)]="form.price" formControlName="price" required>
    </div>
    <button class="col-2" id="submit" [disabled]="form.invalid">ADD<br>PRODUCT</button>
  </form>
</nav>