<mat-dialog-actions class="row">
  <button mat-buttton mat-dialog-close mat-raised-button type="button" class="btn btn-primary btn-success col-1 offset-11">×</button>
  <img class="logo" src="../../../../assets/images/itcraft-logo.png" alt="">
    <ul class="col-10 offset-1">
      <li ><span><strong>Username : </strong>{{data.userName}}</span></li>
      <li ><span><strong>Full Name : </strong>{{data.fullName}}</span></li>
      <li ><span><strong>Email : </strong>{{data.email}}</span></li> 
    </ul>
</mat-dialog-actions>
