<nav class="navbar row">
    <div class="col-2"></div>
    <div class="col-9 row">            
        <div class="col-11 profile-container">
            <ul class="col-10 row" *ngIf="userDetails && showingProfile">
                <li class="col-4"><span><strong>Username : </strong>{{userDetails.userName}}</span></li>
                <li class="col-4"><span><strong>Full Name : </strong>{{userDetails.fullName}}</span></li>
                <li class="col-4"><span><strong>Email : </strong>{{userDetails.email}}</span></li> 
            </ul>
        </div>
        <button class="btn btn-profile col-1" (click)="showProfile()">
            Profile
        </button>
    </div>  
    <button class="btn logout col-1" (click)="onLogout()">Logout</button>
</nav>