<section>
    <div></div>
    <h3 class="col-12">STATISTICS</h3>
    <hr>
    <strong id="name" class="col-12">{{item.name}}</strong>
    <hr>
    <label class="col-12" for="">PRICE: </label>
    <strong id="price" class="col-11 offset-1">{{item.price}}</strong>
    <hr>
    <label class="col-12" for="">COUNT: </label>
    <strong id="count" class="col-11 offset-1" for="">{{item.count}}</strong>
    <hr>
    <label class="col-12" for="">TOTAL COST: </label>
    <strong id="total" class="col-11 offset-1">{{item.price * item.count}}</strong>
    <hr>
</section>