header {
    height: 55px;
    background: linear-gradient(to right, white, white, #ffffffbb,#efefef50, #afafaf00);
}

header > img {
    height: 100%;
    margin-left: 20px;
}

section {
    margin-top: -4px;
    box-sizing: border-box;
    opacity: 0.8;
    height: 95vh;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: #eeeeee;
    position: sticky;
    /* top: 0; */
    z-index: 3;
}

section>#border {
    width: 100%;
    height: 4px;
    position: relative;
    top: 0;
    background: linear-gradient(to left top, #ff6e8b, #9e9eff);
    margin-bottom: 20px;
    box-sizing: border-box;
}

label {
    font-size: 20px;
}

strong:not(:first-of-type) {
    font-size: 28px;
}