<section>
    <div></div>
    <h3 class="col-12">STATISTICS</h3>
    <hr>
    <label class="col-12">{{item.name}}</label>
    <hr>
    <label class="col-12" for="">PRICE: </label>
    <span class="col-11 offset-1">{{item.price}}</span>
    <hr>
    <label class="col-12" for="">COUNT: </label>
    <span class="col-11 offset-1" for="">{{item.count}}</span>
    <hr>
    <label class="col-12" for="">TOTAL COST: </label>
    <span class="col-11 offset-1" for="">{{item.price * item.count}}</span>
    <hr>
</section>