header {
    height: 55px;
    background: linear-gradient(to right, white, white, #ffffffbb, #efefef50, #afafaf00);
}

header>img {
    height: 100%;
    margin-left: 20px;
}

section {
    margin-top: -4px;
    box-sizing: border-box;
    opacity: 0.8;
    height: 95vh;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: #eeeeee;
    z-index: 3;
}

#border {
    width: 100%;
    height: 4px;
    top: -4px;
    position: relative;
    background: #69d5ff;
    margin-bottom: 20px;
    box-sizing: border-box;
}

label {
    font-size: 20px;
}

strong:not(:first-of-type) {
    font-size: 28px;
}

strong {
    padding-left: 10px;
}

strong:first-of-type {
    font-size: 26px;
    font-size: 1.2vw;
    text-align: center;
}

.name-container {
    height: 100%;
    margin-bottom: -10px;
    margin-top: -5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

@keyframes anim1 {
    from {
        opacity: 0.8;
    }
    50% {
        opacity: 0.2;
    }
    to {
        opacity: 0.8;
    }
}

.tip {
    font-size: 12px;
    text-align: center;
    margin-top: -5px;
    animation: anim1 2s linear infinite reverse;
}

button {
    background-color: rgb(58, 58, 58);
    border: 0;
    border-radius: 8px;
    height: 48px;
    box-shadow: inset 0 0 20px #00000030, 0 5px 10px #00000080;
    transition: 0.3s;
}
button:hover {
    filter: brightness(1.2);
    box-shadow: inset 0 0 5px #00000030, 0 3px 8px #00000080;
    transition: 0.3s;
}
button:active {
    filter: brightness(1.5);
    box-shadow: 0 2px 3px black;
}
