<header>
    <img src="../../../assets/images/itcraft-logo2.png" alt="ITCRAFT">
</header>
<section>
    <div id="border"></div>
    <h3 class="col-12">DETAILS</h3>
    <hr>
    <div *ngIf="item; else unknownItem">
        <div class="col-12 name-container row" data-toggle="tooltip" data-placement="right" title="{{item.name}}">
            <span class="tip col-12" *ngIf="item.name.length >= 15">Hover me for get full name!</span>
            <strong class="col-12">{{getName(item.name)}}</strong>
        </div>
        <hr>
        <label class="col-12" for="">PRICE: </label>
        <strong id="price" class="col-11 offset-1">{{item.price}}$</strong>
        <hr>
        <label class="col-12" for="">AMOUNT: </label>
        <strong id="count" class="col-11 offset-1" for="">{{item.count}}</strong>
        <hr>
        <label class="col-12" for="">TOTAL COST: </label>
        <strong id="total" class="col-11 offset-1">{{getTotalCost()}}$</strong>
    </div>
    <ng-template #unknownItem class="row">
        <strong class="col-12">Empty</strong>
    </ng-template>
    <hr>
    <button class="col-10 offset-1" (click)="openDialogAC()">Accounting</button>
</section>