#logo {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo > img {
    width: 100%;
    border-radius: 50%;
    transition: 1s;
}

#logo > img:hover {
    border-top-right-radius: 10%;
    transform: rotate(-22deg);
}